.header-col, .main-col {
    position: relative;
    padding: 0 20px;
    float: left;
    line-height: 24px;
}

.header-col>h1 {
    text-transform: uppercase;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(36,156,126,1) 0%, rgba(17,171,176,1) 100%);
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 9px;
    margin-bottom: 48px;
}

.header-col.special>h1 {
    text-transform: uppercase;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgb(201, 42, 193) 0%, rgb(255, 82, 177) 100%);
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 9px;
    margin-bottom: 48px;
}

.main-content>h1 {
    font-size: 32px;
    font-weight: 700;
}

.info {
    font-size: 16px;
}

.main-content-img {
    cursor: pointer;
    transition: all .25s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.main-content-img:hover {
    transform: scale(1.05);
    filter: brightness(0.75);
}

.main-content-paragraph {
    list-style-type: "- ";
}

.click-to-see:hover + .main-content-img {
    transform: scale(1.05);
    filter: brightness(0.75);
}

@media (max-width: 480px) {
    .showlove {
        padding-left: 10px;
        padding-right: 10px;
    }
    .info {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .header-col {
        margin-bottom: none;
    }
}